<!DOCTYPE html>
html(lang="en")
  include inc/head
    title Prestige Interiors
    meta(name="Description" content="Prestige Interiors specialises in new kitchens, laundries, vanities, bespoke joinery pieces, commercial joinery and custom-built honour boards.")
  body.is-preload
    #wrapper
      header#header
        include inc/header
      #main
        include inc/content
        include inc/gallery
        include inc/suppliers
      include inc/aside
    include inc/foot