aside#sidebar
  section#intro
    a(href="/").logo
      img(src="images/logo.svg", alt="") 
    header
      h2 Prestige Interiors
      ul.services-list 
        li Domestic &amp; Commercial Building
        li Custom built Furniture
        li Kitchens &amp; Vanities
        li Detailed Joinery
        li Honour boards
        li Building Maintenance
    ul.icons
      li
        a.icon.brands.fa-facebook-f(href="https://www.facebook.com/prestigensw")
          span.label Facebook
      li
        a.icon.solid.fa-envelope(href="mailto:prestigeinteriors@exemail.com.au") 
          span.label Email
      li
        a.icon.solid.fa-phone(href="tel:0406212269") 
          span.label Phone
  seciton.blurb
    h2 About 
    p Prestige Interiors specialises in new kitchens, laundries, vanities, bespoke joinery pieces, commercial joinery and custom-built honour boards.
  section 
    .mini-posts
      article.mini-post 
        header
          h3 Vitae sed condimentum 
          time(datetime="2014-10-20").published October 20, 2020
        span.image
          img(src="images/kitchen.jpeg", alt="")
      article.mini-post 
        header
          h3 Vitae sed condimentum 
          time(datetime="2014-05-20").published May 20, 2020
        span.image
          img(src="images/shelving.jpeg", alt="")
  include footer
  //- #0241d0