article.post
  span.image.featured 
    img(src="images/lounge-room.jpeg", alt="")
  p We are a family-owned joinery business located in North Western Sydney, NSW. 
  p Prestige Interiors specialises in new kitchens, laundries, vanities, bespoke joinery pieces, commercial joinery and custom-built honour boards.
  p We strive to achieve high-end quality finished products with superior craftmanship to achieve the standard expected by our customers. We produce custom-built cabinetry that is affordable and meets the expectations of our customers. We aim to offer that personal touch with each customer and ensure we achieve a unique finished product. Our attention to detail and quality products set us apart from our competitors. We select premium hardware, and we work with local companies, sourcing Australian made products and materials where we can. 
  p 
    strong Our joinery will stand the test of time and be assured we guarantee our work.
  div 
    p Contact Wayne on 
      a(href="tel:0406212269") 0406 212 269 
      | or 
      a(href="mailto:prestigeinteriors@exemail.com.au") email us 
      | to discuss your next project.
    ul.actions 
      li 
        a.button.large.icon.solid.fa-envelope(href="mailto:prestigeinteriors@exemail.com.au") Email us  
      li 
        a.button.large.icon.solid.fa-phone(href="tel:0406212269") Call us  
  p 
    small Prestige Interiors Co started in 1996 and it is owned &amp; operated by Wayne &amp; Laura.
  p Working with you to develop the desired design and making your ideas and dreams come true by involving you in the process, so that we meet your needs and standards. Detailed design and consultation every step of the process will ensure that every aspect is carefully considered, and functional. 
  p We can organise any sub-trades that may be required to achieve the outcome you desire.
