h1 
  a(href="/") Prestige Interiors 
.social
  ul.icons
    li
      a.icon.brands.fa-facebook-f(href="https://www.facebook.com/prestigensw")
        span.label Facebook
    li
      a.icon.solid.fa-envelope(href="mailto:prestigeinteriors@exemail.com.au") 
        span.label Email
    li
      a.icon.solid.fa-phone(href="tel:0406212269") 
        span.label Phone