article.post 
  header
    .title 
      h2 Our Suppliers
  .supplier-logos 
    a(href="https://www.wilbrad.com.au/" target="_blank" rel="noreferrer noopener") 
      img(src="images/wilsonandbradley.png", alt="Wilson and Bradley")
    a(href="https://www.laminex.com.au/" target="_blank" rel="noreferrer noopener") 
      img(src="images/laminex.svg", alt="Laminex")
    a(href="https://www.juststoneaust.com.au/" target="_blank" rel="noreferrer noopener") 
      img(src="images/just-stone.png", alt="Just Stone Australia")
    a(href="https://www.blum.com/" target="_blank" rel="noreferrer noopener") 
      img(src="images/blum.svg", alt="Blum")
    a(href="https://polytex.net.au/" target="_blank" rel="noreferrer noopener") 
      img(src="images/polytex.png", alt="Polytex")
  